.main-container {
  margin: 0;
  padding: 0;
}

/* .app-view {
  background-color: black;
  color: aqua;
}

.left-area {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.right-area {
  display: flex;
  flex-direction: column;
}

.img-avatar {
  width: 100px;
  height: 100px;
} */
